<?xml version="1.0"?>
<launch>
    
    <!--
    <node pkg="uvc_camera" type="uvc_camera_node" name="uvc_cam" />
    -->

    <node pkg="cv_camera_orb" type="orb_features.py" name="bridge_test" output="screen">
        <rosparam command="load" file="$(find cv_camera_orb)/config/config.yaml" />
    </node>

</launch>